<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".FreelanceApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="接单平台"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FreelancePlatform"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.auth.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.FreelancePlatform">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.auth.OAuthRedirectActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="freelanceplatform" android:host="oauth" />
            </intent-filter>
        </activity>
    </application>
</manifest>
